Programacion-de-IA/N8N/Ejer2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "debab21a-b487-4119-8ea1-d86081c89407",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=36.7167&longitude=-3.5167&current_weather=true&hourly=relativehumidity_2m&timezone=Europe%2FMadrid&forecast_days=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "5bd01899-0a25-41e3-a5fc-f833dc02990a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nconst ts = body.current_weather.time;\nconst temp = body.current_weather.temperature;\nconst windspeed = body.current_weather.windspeed;\n// La hora actual en hourly para obtener la humedad correspondiente\nconst hourlyTimes = body.hourly.time;\nconst hourlyHumidity = body.hourly.relativehumidity_2m;\nconst idx = hourlyTimes.indexOf(ts);\nconst humidity = idx !== -1 ? hourlyHumidity[idx] : null;\n\nreturn [{\n  json: {\n    city: \"Motril\",\n    ts: ts,                // ISO 8601, ej: \"2026-02-20T16:00\"\n    temp_c: temp,\n    humidity_pct: humidity,\n    windspeed_kmh: windspeed,\n    fetched_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ae0805af-1e87-4f68-92a7-922038874547",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO weather_motril (city, ts, temp_c, humidity_pct, windspeed_kmh)\nVALUES (\n  '{{ $json.city }}',\n  '{{ $json.ts }}',\n  {{ $json.temp_c }},\n  {{ $json.humidity_pct }},\n  {{ $json.windspeed_kmh }}\n)\nON CONFLICT (city, ts) DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "b486fbee-8be2-41f2-aee0-b0e8adad0ca4",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "XKFVPnbANv5ZViCO",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fbfb082f-ef67-4683-bdb8-047155c46a38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e28fc959d7a9f4f4e453c0cbee5fc1496722ab2bf2aff5405f41ce4535e859a2"
  },
  "id": "rVxSe0Ww4TOmARxG",
  "tags": []
}